#card-container .card{
    margin: auto;
    width: 250px;
    height:300px;
    border:1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-container .card-front{
    background-color: aliceblue;
}
#card-container .card-back{
    background-color: antiquewhite;
}
